# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
server/node_modules

# Build outputs
dist
dist-ssr
build

# Environment variables (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store

# TypeScript / build artifacts
*.tsbuildinfo

# Optional system files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?.env 
